## Q1. Create one variable containing following type of data:
(i) string

(ii) list

(iii) float

(iv) tuple

In [6]:
# Sol : 1

#A string variable;
my_str = 'Hello, Team Pwskills'

# A list variable: 
my_lst = [1,2,3,4,5,6,7,8,9]

# A float variable: 
my_float = 32.32

#A tuple variable : 
my_tuple = (12,23,34,65,86)

# Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

**What will be the data type of the above given variable.**

# Sol: 2

**(i) var1** is a string with length 0, also known as an empty string.

**(ii) var2** is a string that contains a list as a string representation. It is not an actual list, but a string that looks like a list. If we want to use this string as a list, we need to convert it to a list data type using the eval() function or some other method.

**(iii) var3** is a list of strings.

**(iv) var4** is a float.

## Q3. Explain the use of the following operators using an example:
(i) /

(ii) %

(iii) //

(iv) **

# Sol: 3 

**(i) /:** This is the division operator, which is used to divide two numbers and return the quotient as a floating-point number. For example, 10 / 3 will return 3.3333333333333335.

In [11]:
#division
a = 10 
b = 3
c = a/b
print(c)

3.3333333333333335

**(ii) %:** This is the modulo operator, which returns the remainder when one number is divided by another. For example, 10 % 3 will return 1, because 10 divided by 3 has a remainder of 1.

In [12]:
#Modulo: 
x = 10 
y = 3 
z = x % y
print(z)

1

**(iii) //:** This is the floor division operator, which divides two numbers and returns the result as an integer, rounded down to the nearest whole number. For example, 10 // 3 will return 3.

In [13]:
#FLoor division operator: 
a = 10
b = 3 
c = a//b
print(c)

3

**(iv)** **: This is the exponentiation operator, which is used to raise a number to a power. For example, 2 ** 3 will return 8, because 2 raised to the power of 3 is 8.

In [15]:
#Exponentiation: 
a = 2 
b = 3 
c = a**b
print(c)

8

## Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [17]:
# Sol : 4

l = [1, "two", 3.0, True, False, [4, 5, 6], (7, 8, 9), {"ten": 10}, None, "pwskills"]

for i in l : 
    print(i,type(i))

1 <class 'int'>
two <class 'str'>
3.0 <class 'float'>
True <class 'bool'>
False <class 'bool'>
[4, 5, 6] <class 'list'>
(7, 8, 9) <class 'tuple'>
{'ten': 10} <class 'dict'>
None <class 'NoneType'>
pwskills <class 'str'>

## Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [20]:
# Sol : 5

a = 84 
b = 3
count = 0 

while a % b == 0 : 
    a = a/b
    count += 1
    
if count > 0 : 
    print(f"{a * b } is divisible by {b}, {count} times")
    
else : 
    print(f"{a * b } is not divisible by {b}")

84.0 is divisible by 3, 1 times

## Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [21]:
# Sol : 6 

l = [1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49, 52, 55, 58, 61, 64, 67, 70, 73]

for i in l : 
    if i % 3 == 0:
        print(f"{i} is divisible by 3 .")
        
    else : 
        print(f"{i} is not divisible by 3.")

1 is not divisible by 3.
4 is not divisible by 3.
7 is not divisible by 3.
10 is not divisible by 3.
13 is not divisible by 3.
16 is not divisible by 3.
19 is not divisible by 3.
22 is not divisible by 3.
25 is not divisible by 3.
28 is not divisible by 3.
31 is not divisible by 3.
34 is not divisible by 3.
37 is not divisible by 3.
40 is not divisible by 3.
43 is not divisible by 3.
46 is not divisible by 3.
49 is not divisible by 3.
52 is not divisible by 3.
55 is not divisible by 3.
58 is not divisible by 3.
61 is not divisible by 3.
64 is not divisible by 3.
67 is not divisible by 3.
70 is not divisible by 3.
73 is not divisible by 3.

## Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

# Sol : 7

mutable objects can be modified in place, whereas immutable objects cannot be modified once they are created. This property has important implications for how we work with different types of objects in Python, particularly in terms of performance and memory usage.

In this example, we have created a string s with the value "Krish". When we try to change the first  character of the string to lowercase using the assignment s[0] = "h", we get a TypeError because strings are immutable. Instead, we would have to create a new string with the desired modification, like this: